@import '/node_modules/@fontsource/ubuntu/index.css';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/flag-icons/css/flag-icons.min.css';

body { 
  font-family: "Ubuntu", sans-serif;
 }

.container{
  width: 90%;
  margin: 20px auto;
}